<div class="row">
	<div class="small-9 large-6 small-centered column">
		<div class="custom-panel">
		
			<p>
			<%= link_to video.title, user_path(video.user.id) %>
			<div class="flex-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.yt_video_id %>?rel=0&showinfo=0&autohide=1&controls=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="comment_link"><%= link_to "Comment", video_path(video.id) %></div>
			</p>

		</div>
	</div>
</div>
