<h1 class="title">Meet <span class=" yak">yak</span></h1>

<div class="yak-img">
	<%= image_tag("yak-11.png",  size: "500x500") %>
</div>

<h1 class="everbody-else">and everbody else!</span></h1>

<%if @videos != [] %>
	<%= render @videos %>
<% end %>
