<div class="first active">
  <%= link_to "All", videos_path  %>
</div>
<div>
	<!-- redirects me to new.html.erb -->
  <%= link_to "New", new_video_path %>
</div>

<h2 class="title">Meet anyone</h2>


<%= render @videos %>




