<div class="first active">
  <%= link_to "#{t("web-app-theme.list", :default => "All")}", videos_path  %>
</div>
<div>
  <%= link_to "#{t("web-app-theme.new", :default => "New")}", new_video_path %>
</div>
              
  <h2 class="title">Meet anyone</h2>

<div class="row">
  <%= render @videos %>
</div>



